
.navbar-brand img{
    width: 100px;
    height: 80px;
    
}
.jumbotron{
    width: 100%;
    background-image: url('../img/mainHead.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    opacity: 0.9;
}

.jumbotron .display-4{
    font-size: 500%;
    font-weight: 600;
}


.jumbotron .lead{
   
    margin-top: 30px;
    font-weight: 400;
    font-size: 250%;
}





.container-fluid .container {
    margin: 20px 0px;
}


.img-fluid{
    opacity: 0;
    transform: scale(.3);
    transition: 1s;

}

.img-fluid.muncul{
    transform: scale(.7);
    opacity: 1;
}

.foto{
    background-color: rgba(136, 133, 133, 0.075)
    
}

#FormCerita{
    width: 60%;
    background-color: rgba(155, 151, 151, 0.075);
}

.buttonCerita{
    background-color: #dfcec98a;
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.buttonCerita:hover{
    opacity: 1;
}

.buttonCerita.dark{
    background-color: rgba(0, 0, 0, 0.363);
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.card{
    border-radius: 16px;
}

.card.education{
    opacity: 0;
    transition: 1s;
    height: 50%;
    width: 65%;
    min-width: 60%;
    transform: translate(-40px,0);
}

.card.education.muncul{
    opacity: 1;
    transform: translate(20px,20px);
    height: 50%;
    width: 65%;
    min-width: 60%;
}

.card-body ul li h3{
    font-size: 150%;
}

.clearfix .panitia{
    opacity: 0;
    transition: 1s;
    height: 50%;
    width: 65%;
    min-width: 60%;
    /* transform: translate(40px,40px); */
}

.clearfix .panitia.muncul{
    opacity: 1;
    transform: translate(-30px,60px);
    height: 50%;
    width: 65%;
    min-width: 60%;
    
}



.copyright{
    background-color: rgba(155, 151, 151, 0.075);
}

.section{
    height: 100vh;
    width: 100vw;
    overflow: visible;
    /* border: 2px solid black; */
    background-image: url('../img/space.jpg');
    background-size: cover;
    background-position: 5% 5%;   
    position: relative;

    
}

.section .bulan{
    position: absolute;
    width: 10%;
    top: 60%;
    left: 10%;
    transition: 2s;
    /* overflow: hidden; */
}

.section .saturnus{
    position: absolute;
    width: 10%;
    top: 60%;
    left: 80%;
    transition: 2s;
}





.aJourney .buttonJourney{
    /* transition: .5s; */
    /* box-shadow: 2px 2px rgba(0, 0, 0, 0.507); */
    position: absolute;
    left: 50%;
    top: 90%;
    z-index: 1;
    /* border: 2px solid red; */
    transition: 2s;
    opacity: 0;
}

.aJourney .buttonJourney.timbul{
    /* transition: .5s; */
    /* box-shadow: 2px 2px rgba(0, 0, 0, 0.507); */
    position: absolute;
    left: 47%;
    right: 50%;
    top: 45%;
    /* bottom: 20px; */
    z-index: 1;
    /* border: 2px solid red; */
    transition: 2s;
    transform: scale(1.5,1.5);
    opacity: 1;
    border-radius: 8px;
    box-shadow: 1px 1px #4C4949;
    background-color: #93A3CB;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.work{
    background-color: rgba(240, 248, 255, 0.39);
    width: 100%;
    height: 500px;
    margin-top: 80px;
}

.work .altech{
    padding-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.work .SA{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: .5px;
    font-weight: 900;
}
.work .SA .as{
    font-weight: 200;
}

.work .titleWork{
    padding-top: 20px;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    opacity: 0;
    transition: 500ms;
    transform: rotate(90);
}
.work .titleWork.muncul{
    padding-top: 20px;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    opacity: 1;
    transform: rotate(270);
}

.work .tahunKerja{
    margin-top: 20px;
}
.work .tahunKerja h1{
    display: inline;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.work .tahunKerja .juli{
    position: absolute;
    left: -1000%;
    transition: 1s;
}
.work .tahunKerja .strip{
    position: absolute;
    left: 45%;
    right: 45%;
    font-size: 200%;
}
.work .tahunKerja .oktober{
    position: absolute;
    /* left: 1000%; */
    transition: 1s;
    overflow: hidden;
}

.work .tahunKerja .juli.after{
    position: absolute;
    left: 25%;
    right: 60%;
    font-size: 200%;
    /* border: 2px solid red; */
}
.work .tahunKerja .oktober.after{
    left: 60%;
    right: 25%;
    font-size: 200%;
    position: absolute;
}




/*Journey*/
html{
    overflow: auto;
}
.journey{
    background-color: rgba(9, 9, 37, 0.719);
    background-image: url('../img/cahaya.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}


/* Laptop */
.section .laptop{
    position: absolute;
    right: 41%;
    top: 80%;
    transition: 4s;
}

.section .laptop.after{
    position: absolute;
    right: 41%;
    top: 80%;
    transform: translateY(-250px) scale(3,3);
    
}


/* Waktu buat di tampilan awal*/

.section .waktu{
    position: absolute;
    left: 20px;
    /* top:4px; */
    background-color: #0073ff59;
    padding: 0.5%;
    font-size: large;
    margin-top: 20px;
    letter-spacing: 4px;
    font-family: "QuubMedium";
    color: white;
}

.section .greetingText{
    width: 50%;
    height: 50%;
    /* font-size: 200%; */
    overflow: hidden;
    position: absolute;
    left: 37%;
    right: 37%;
    top: 25%;
    letter-spacing: 6px;
    display: inline-block;
    font-family: "QuubMedium";
    /* border: 2px solid green; */
    overflow: visible;
}

.section .H{
    font-size: 200%;
    color: #2855A4;
    transition: 2s;
}

.section .ai{
    font-size: 200%;
    transition: 2s;
    color: #2855A4;
    
}

.section .namaUser{
    font-size: 200%;
    color: #2855A4;
    transition: 4s;
}



.navbar {
    z-index: 2;
    background-color: #19002B;
    
}

@font-face{
    font-family: "QuubMedium";
    src: url('../font/QUUBMedium.ttf');
}

