.formIsiNama{
    width: 50%;
    height: 250px;
    margin: 0 auto;
}

.modeGelap{
    margin-top: 50px;
    margin-bottom: 100px;
}

.card#cardForm{
    border-radius: 32px;
    
    
    min-width: 30%;
    height: 60%;
}

.card#cardForm .card-header{
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    box-shadow: rgba(1, 18, 32, 0.322) 2px 2px;
    max-height: 150px;
    background-color: rgb(151, 151, 151);
}

.card#cardForm .card-header.dark{
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    box-shadow: rgba(1, 18, 32, 0.322) 2px 2px;
    max-height: 150px;
    background-color: rgb(255, 255, 255);
}


.card#cardForm .card-header h1{
    text-align: center;
    text-transform: uppercase;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 57px;
    /* max-height: 20px; */
}

.card.formIsiNama#cardForm .card-body.light#postinganBody{
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-image: url('../img/bgNormalReq.png');
    background-color: rgba(0, 0, 0, 1);
}

.card.formIsiNama#cardForm .card-body.dark#postinganBody{
    border-radius: 32px;
    background-color: white;
}

body.dark{
    background-image: url('../img/bgDarkReq.png');
  
}

.buttonCerita{
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-left: 45%;
    margin-top: 2%;
}

.buttonCerita:hover{
    opacity: 1;
}

.buttonCerita.dark{
    background-color: rgba(0, 0, 0, 0.363);
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-left: 45%;
  
}

#postinganBody .pengisian{
    width: 50%;
    margin: 2px auto;
    
}

h1.urName{
    font-size: 100%;
    color: white;
}
