.searchBooks{
    margin-top: 50px;
}

.table.listBuku{
    margin-top: 20px;
}

h1{
    font-family: "QuubMedium";
    letter-spacing: 3px;
}

@font-face{
    font-family: "QuubMedium";
    src: url('../font/QUUBMedium.ttf');
}
.container .search.btn#btnBook{
    /* height: 89%; */
    /* margin-left: 5%; */
    /* font-size: 75%;     */
}

.searchBox{
    width: 89%;
}

.form-group{
    display: flex;
    border: 2px solid red;
    align-items: stretch;
}

.navigator .numberNavigator{
    width: 25%;
}