{% extends 'base.html' %}
{% load static %}


{% block tambahStyle %}
<link rel="stylesheet" href="{% static 'css/styleCerita1.css' %}">
<link rel="stylesheet" href="{% static 'css/styleReq.css' %}">    
<link rel="stylesheet" href="../static/css/styleBooks.css">
{% endblock tambahStyle %}


{% block content %}
<body class="light">
{% include 'navbar.html' %}
<div style="height: 50px;" class="container align-content-center">
    <div style="width: 50%; float: right;" class="d-flex flex-row-reverse bd-highlight ">
        <label class="switch">
            <input id="theme_switch" type="checkbox" >
            <span class="slider round"></span>
          </label>
        <p class="mr-3 font-weight-bold mt-1">Dark Mode</p>
    </div>     
</div>

<div style="border:2px solid red;" class="container searchBooks">
<h1 class="text-center">Cari bukumu bos</h1>
    <div class="form-group">

        <input class="searchBox form-control" id="searchBuku" type="text" placeholder="msukin jdulmu bos">
        <div class="cleafix">
            
            <button class="mb-3 float-right search btn btn-primary active" type="button" id="btnBook">cri skrg jga!</button>
        </div>
    </div>    
    

        
        <table class=" table table-hover listBuku">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama Buku</th>
                    <th>Publisher</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
        <div style="border: 2px red solid;" class="navigator d-flex justify-content-around">
            <button type="button" class="prev"> Prev</button>
            <button type="button" class="numberNavigator">1</button>
            <button type="button" class="next"> Next</button>
        </div>

    </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../static/js/books.js"></script>
        
        {% endblock content %}