{% extends 'base.html' %}
{% load static %}

{% block tambahStyle %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/styleCerita1.css' %}">
{% endblock tambahStyle %}
    
{% block content %}
<body class="light">
    {% include 'navbar.html' %}
    <br>
    <div style="height: 50px;" class="container align-content-center">
        <div style="width: 50%; float: right;" class="d-flex flex-row-reverse bd-highlight ">
            <label class="switch">
                <input id="theme_switch" type="checkbox" >
                <span class="slider round"></span>
              </label>
            <p class="mr-3 font-weight-bold mt-1">Dark Mode</p>
        </div>     
    </div>

    
    <div class="card mx-auto mt-5 mb-0 " id="FormCerita" >
        <div class="card-body" id="kartu" >
        <h1 class='textHeader text-center text-monospace text-uppercase mb-4'>Nanti kita cerita tentang hari ini</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{form.pencerita.label_tag}}
                {{form.pencerita}}
            </div>

            <div class="form-group">
                {{form.cerita.label_tag}}
                {{form.cerita}}
            </div>
            <div class="clearfix">
                <button type="submit" class="btn-outline-dark buttonCerita float-sm-right mb-3 p-1" id="buttonCerita">Kirim!</button>
            </div>
            
        </form>
        {% if status == "success" %}
        {% for cerita in data  %}
            <div class="card text-black-50 text-center mb-5 rounded" id="postingan">
                <div class="card-header  font-weight-bold ">
                    <h5 style="font-family: 'Franklin Gothic Medium', Arial, sans-serif;">{{cerita.pencerita}}</h5>
                    <p style="font-size: 70%; margin-top:0; opacity: 0.6;">{{cerita.waktu_posting}}</p>    
                </div>
                <div class="card-body bg-dark rounded text-white" id="postinganBody">
                <p class="card-text font-weight-normal">{{cerita.cerita}}</p>
                </div>
            </div>
            {% endfor %}
            {% elif status == "failed" %}
            <h1>Masukan kamu salah!</h1>
            {% endif %}
    </div>
</div>

<script src="{% static 'js/cerita1.js' %}"></script>
{% endblock content %}