{% extends 'base.html' %}
{% load static %}


{% block tambahStyle %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock tambahStyle %}
  
{% block content %}
  

<body class="light">

  

    
      <!-- <div class="laptop"> -->
      <!-- <div class="full-screen">
        test
      </div> -->
      <div class="section">
        
        {% include 'navbar.html' %}
        <!-- <img class="laptop" src="../static/img/laptop.png" alt="" > -->
        
        
        {% if status == "success" %}
        <h1 class="waktu"><i class="fa fa-clock-o"></i>{{waktu|date:'H:i'}}</h1>  
        <h1 class="greetingText"><span class="H">H</span ><span class="ai">ai</span><span style="color: #B8C1CC;">,</span> <span class="namaUser"> {{user}}!</span> 
        </h1>
        
        
        
        {% endif %}
        <img class="bulan" src="../static/img/bulan.png" alt="">
        <img class="saturnus" src="../static/img/saturnus.png" alt="">
        
        
        <a  class="aJourney">
          <button type="button" class="buttonJourney">mulai</button>
        </a>
        
      </div>
      <!-- </div> -->
 
    
    
    
    
    
   
    
      <!-- <div class="containerOur" >
       
      <div class="jumbotron jumbotron-fluid mt-4 pb-5">
          <div class="container text-white text-center">
            <h1 class="display-4">{{heading}}</h1>
            <p class="lead">{{subheading}}</p>
            <div class="image1">
            </div>
          </div>
      </div>

      </div> -->
      <div class="foto">
        <div class="img-fluid">
          <img style="width: 20%; height: 20%;" src="{% static 'img/estu.jpg' %}" class="mx-auto d-block rounded-circle" alt="">
        </div>
      </div>

      

      <!-- Card Education dll -->
      <div  class="card ml-4 mt-3 education">
        <div class="card-header">
          <h1>Education</h1>
          
        </div>
        <div class="card-body">
          <ul class=" list-group list-group-flush">
            <li class="list-group-item mb-3 d-flex justify-content-between align-items-center"><h3>SMP Negeri 4 Bogor</h3> <span class="font-weight-bolder pb-3">2013 - 2016</span></li>
            <li class="list-group-item mb-3 d-flex justify-content-between align-items-center"><h3>SMA Negeri 3 Bogor</h3> <span class="font-weight-bolder pb-3">2016 - 2019</span></li>
            <li class="list-group-item mb-3 d-flex justify-content-between align-items-center"><h3>Universitas Indonesia</h3> <span class="font-weight-bolder pb-3">2019 - Now</span></li>
          </ul>
        </div>
      </div>
    
      <!-- Card Panitia -->
      <div class="clearfix">
        <div  class="card mr-4 mb-4 panitia float-right">
          <div class="card-header">
            <h1>Volunteer</h1>
          </div>
          <div class="card-body">
            <ul class=" list-group list-group-flush">
              <li class="list-group-item mb-3 d-flex justify-content-between align-items-center"><h3>Open House Fasilkom</h3> <span class="font-weight-bolder ml-4 pb-3">Humpub</span></li>
              <li class="list-group-item mb-3 d-flex justify-content-between align-items-center"><h3>BETIS Fasilkom</h3> <span class="font-weight-bolder ml-4 pb-3">Akademis</span></li>
              <li class="list-group-item mb-3 d-flex justify-content-between align-items-center"><h3>Pesta Rakyat Komputer</h3> <span class="font-weight-bolder ml-4 pb-3">Public Relation</span></li>
              <li class="list-group-item mb-3 d-flex justify-content-between align-items-center"><h3>BEM Fasilkom</h3> <span class="font-weight-bolder ml-4 pb-3">Depor</span></li>
              <li class="list-group-item mb-3 d-flex justify-content-between align-items-center"><h3>COMPFEST</h3> <span class="font-weight-bolder ml-4 pb-3">Direct Marketing</span></li>
            </ul>
          </div>
        </div>
      </div>

     
      
      <div class="work">
        <h1  class="titleWork ">Job Experience</h1>
        <img src="{% static 'img/altech.png' %}"  alt="" class="altech">
        <h2 class="SA"><span class="as">as</span> System Analyst (Internship)</h2>
        <div  class="tahunKerja">
            <h1 class="juli">July 2020</h1>
            <h1 class="strip">-</h1>
            <h1 class="oktober">October 2020</h1>
          </div>
        </div>
      </div>




      <!-- Copyright -->
      <div  class="container-fluid shadow-lg copyright">    
        <div class="row text-center text-black-50">
          <div class="col-sm-12">
            <p style="margin-bottom: 0; font-size: large;" >Copyright 2020 <span>&#169;</span>
            </p>
          </div>
        </div>
      </div>
   
      
     
    

      <script src="{% static 'js/index.js' %}"></script>
      {% endblock content %}

    
    
    
    
    
    
    
    
   