
{% load static %}
<nav  class="navbar navbar-dark" id="navbar">
    <a class="navbar-brand" href="">
        <img style="width: 50%;"  src="{% static 'img/logo.png' %}" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto font-weight-bolder">
       <li class="nav-item">
           <a class="nav-link " href="/">Home</a>
       </li>
       <li class="nav-item">
            <a class="nav-link" href="/cerita">Cerita</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/books">Books</a>
      </li>
      </ul>
    </div>
  </nav>