{% extends 'base.html' %}
{% load static %}


{% block tambahStyle %}

<link rel="stylesheet" href="{% static 'css/styleCerita1.css' %}">
<link rel="stylesheet" href="{% static 'css/styleReq.css' %}">
<script src="../static/vendor/sweetalert/swal.js"></script>
{% endblock tambahStyle %}


{% block content %}

{% if status == 'success' %}
    <body onload="successLogin()">
{%elif status == 'gagal'%}
    <body onload="errorLogin()">
{% endif %}
<div style="height: 50px;" class="container align-content-center modeGelap">
    <div style="width: 50%; float: right;" class="d-flex flex-row-reverse bd-highlight ">
        <label class="switch">
            <input id="theme_switch" type="checkbox" >
            <span class="slider round"></span>
          </label>
        <p class="mr-3 font-weight-bold mt-1">Dark Mode</p>
    </div>     
</div>


    
        
    <div class="card formIsiNama" id="cardForm">
      <div class="card-header" id="postingan">
        <h1 class="textReq">Isi yuk!!</h1>
      </div>
      <div class="card-body light" id="postinganBody">
        <!-- <form  method="POST">
            {% csrf_token %}
            <div class="form-group">
                <h1 class="urName text-center">
                    {{form.nama.label_tag}}
                </h1>
                <div class="pengisian">
                    {{form.nama}}
                </div>
            </div> -->
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <h1 class="urName text-center">
                        {{form.username.label_tag}}
                    </h1>
                    <div class="pengisian">
                        {{form.username}}
                    </div>
                    <h1 class="urName text-center">
                        {{form.password.label_tag}}
                    </h1>
                    <div class="pengisian">
                        {{form.password}}
                    </div>
            </form>
                <button  type="submit" class="btn-outline-dark buttonCerita" id="buttonCerita">Kirim!</button>
                
            
                   
                
                    
            
            
        </form>      
    </div>
    </div>

    <script src="{% static 'js/req.js' %}"></script>
    <script type="text/javascript">
        function errorLogin() {
            sweetAlert("Woi","Pssword sm username mu slah bos","error");
        }
        function successLogin() {
            swal("Good Job!","You sucess to login", "success");
        }
    </script>


{% endblock content %}
    